.git
.github
.wrangler
node_modules
coverage
.env
.env.*
dev-proxy.config.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile*
!Dockerfile.runtime
docker-compose*.yml
.DS_Store
Thumbs.db
*.local
